<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <img id="banner" src="https://static1.squarespace.com/static/54fe2f8be4b03e430c533f3e/t/55232106e4b0ad8e340bd061/1428365574537/53ef7ce7e4b07b4e476d4a7e.jpeg?format=1500w"/>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
