h1 {
    color:#6b9311;
    text-align: center;
}

#banner {
    width: 100%;
    height: 200px;
}

table {
    width:90%;
    text-align:center;
    border: 1px solid black;
    margin: auto;
}

div label {
    width: 250px;
}

body {
    margin: 0;
}

#mediabundle_album div label {
    width: 350px;
}

.album_show {
    width: 100%;
}

.alb_img {
    height: 250px;
    width:auto;
}